html {
    background-color: #0a0a0a;
    font-family: 'Balsamiq Sans', sans-serif;
    color: #f7f7f7;
}

a {
    color: inherit;
    text-decoration: none;
}

::selection {
    color: #000000;
    background-color: #eb0400;
}

.header-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:75px;
    border-bottom: 5px solid #282828;
    user-select: none;
}

.header-profile {
    text-align: right;
    align-items: center;
    margin: 10px;
    display:flex;
    gap: 15px;
}

.profile-image {
    width: 50px;
    height: auto;
    border: solid 5px #282828;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
}

.username {
    font-size: 17px;
}

.username span {
    font-size: 13px;
    color: #ebebeb;
}

.pronouns {
    font-size: 12px;
    color: #ebebeb;
}

.header-links {
    text-align: right;
    margin: 15px;
    display: flex;
    gap: 15px;
}

.header-links a {
    font-family: 'Lucida Console', monospace;
    font-size: 17px;
    color: #c8c8c8af;
    text-decoration: none;
    position: relative;
    transition: 0.3s;
}

.header-links a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -1px;
    width: 0;
    height: 2px;
    transition: 0.5s;
    transform: translateX(-50%);
}

.header-links a:hover {
    color: #ebebeb;
}

.header-links a:hover::after {
    width: 100%;
    left: 0;
    transform: translateX(0);
    background-color: #eb0400;
}

.section-link {
    cursor: help;
}

.event-link {
    cursor: alias;
}

.layout {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 850px;
    background-color: #141414;
    border: solid 5px #282828;
    border-radius: 10px;
    box-shadow: 0 0 10px #000000;
    transition: 0.5 ease-in-out;
}

.card {
    flex: 2;
    max-height: 100%;
    overflow: auto
}

.profile {
    margin: 15px;
    margin-top: 20px;
    text-align: left;
    user-select: none;
}

.geo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.location, .time {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.location svg, .time svg {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

.location span, .time span {
    font-size: 17px;
}

.location svg, .time svg {
    fill: #aaaaaa;
}

.location span, .time span {
    color: #e2e2e2;
}

.social-links {
    margin: 10px;
    max-width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
    background: #141414;
    border: solid 3px #282828;
    border-radius: 10px;
    transition: 0.5s;
    user-select: none;
}

.social-links:hover {
    border-radius: 5px;
    border-color: #eb0400;
}
    
.social-link svg {
    margin: 6px;
    height: 25px;
    width: 25px;
    fill: #9b9b9b;
    transition: 0.25s;
}

.social-link svg:hover {
    fill: #dddddd;
    scale: 110%;
    cursor: alias;
}

.social-link svg:active {
    fill: #c2c2c2;
    scale: 105%;
}

.social-link[aria-label] {
    position: relative;
    display: inline-block;
    cursor: alias;
  }

.social-link[aria-label]::before {
    content: attr(aria-label);
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px 10px;
    border-radius: 5px;
    background-color: black;
    color: #fff;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    font-size: 14px;
    z-index: 1;
}
  
.social-link[aria-label]:hover::before,
.social-link[daria-label]:hover::after {
    opacity: 1;
    visibility: visible;
}
  
.social-link[aria-label] {
    position: relative;
    display: inline-block;
    cursor: alias;
}
  
.social-link[aria-label]::after {
    content: '';
    position: absolute;
    bottom: 89%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1) transparent transparent transparent;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    z-index: 1;
}
  
.social-link[aria-label]:hover::before,
.social-link[aria-label]:hover::after {
    opacity: 1;
    visibility: visible;
}

.card-divider {
    margin: 15px 0;
    height: 5px;
    border: none;
    background: #282828;
}

#about-me {
    margin-left: 15px;
}

#about-me .title1, .sub-title {
    font-family: 'Lucida Console', monospace;
    font-size: 24px;
    color: #c5c5c5;
    margin-bottom: auto;
    user-select: none;
}

#about-me .text1, .text2, .text3 {
    font-size: 17.5px;
    color: #d6d6d6;
    line-height: 18px; 
    cursor: default;
}

.about-split {
    margin: 0;
    height: 5px;
    width: 200px;
    border: none;
    border-radius: 10px;
    background: #282828;
}

#about-me .about-list {
    margin-left: 20px;
    font-size: 18px;
    color: #d6d6d6;
    line-height: 18px;
    margin-bottom: 10px;
    cursor: default;
}

#about-me .about-list span {
    margin: auto;
    font-weight: bold;
}

#age-count {
    color: #f0f0f0;
}

.html-colour {
    color: #ff5733;
}

.css-colour {
    color: #254bdd;
}

.js-colour {
    color: #f7e025
}

.lua-colour {
    color: #5151f4;
}

.ts-colour {
    color: #2d79c7;
}

.cpp-colour {
    color: #659ad2;
}

#projects .title2 {
    margin-left: 15px;
    font-family: 'Lucida Console', monospace;
    font-size: 24px;
    color: #c5c5c5;
    margin-bottom: auto;
    user-select: none;
}

#projects .social-links {
    margin-left: 25px;
}

.project-links {
    margin: 15px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.project-card {
    display: flex;
    flex: 1 1 calc(45% - 15px);
    max-width: calc(45% - 15px);
    background-color: #141414;
    border: solid #282828;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 0 2.5px #000000;
    text-decoration: none;
    text-align: left;
    filter: brightness(75%);
    position: relative;
    transition: 0.3s ease-in-out;
    user-select: none;
}

.project-card:hover {
    border-color: #EB0400;
    border-radius: 15px;
    box-shadow: 0 0 10px #000000;
    transform: scale(1.02);
    cursor: alias;
    filter: brightness(90%);
}

.project-card:active {
    border-color: #c81000;
    border-radius: 12px;
    box-shadow: 0 0 5px #000000;
    filter: brightness(100%);
    transform: scale(1.01);
}

.project-icon {
    width: 64px;
    height: 64px;
    margin-right: 16px;
    border-radius: 10px;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-title {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    color: #c8c8c8;
    font-family: 'Lucida Console';
}

.project-description {
    font-size: 14px;
    margin: 4px 0 0 0;
    color: #969696;
}

.project-info span {
    font-size: 12px;
}

.finished {
    color: green;
}

.discontinued {
    color: red;
}

.wip {
    color: orange;
}

.platform-icon {
    fill: #646464;
    width: 18px;
    height: 18px;
}

.howlink-icon {
    fill: #525252;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.footer-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    border-top: 5px solid #282828;
    user-select: none;
}

.footer-left {
    text-align: left;
    align-items: center;
    margin: 15px;
    display: flex;
    gap: 15px;
}

.footer-left a {
    font-family: 'Lucida Console', monospace;
    font-size: 14px;
    color: #c8c8c8af;
    text-decoration: none;
    position: relative;
    transition: 0.3s;
}

.footer-left a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -1px;
    width: 0;
    height: 2px;
    transition: 0.5s;
    transform: translateX(-50%);
}

.footer-left a:hover {
    color: #ebebeb;
}

.footer-left a:hover::after {
    width: 100%;
    left: 0;
    transform: translateX(0);
    background-color: #eb0400;
}

.footer-right {
    text-align: right;
    margin: 15px;
    display: flex;
    gap: 15px;
}

.footer-right p {
    font-family: 'Lucida Console', monospace;
    font-size: 14px;
    color: #c8c8c8af;
}

.footer-right img {
    border: solid 2.5px #282828;
    border-radius: 45%;
    width: 40px;
    height: auto;
    transition: 0.3s;
}

.footer-right img:hover {
    border: solid 2.5px #eb0400;
    border-radius: 50%;
    box-shadow: 0 0 5px #000000;
    transform: scale(1.05);
}

/* Responsive Layout for smaller screens */
@media (max-width: 1080px) {
    
}